$color-bg: #111;
$white: #fff;
$color-text: #cacbcf;
$color-yellow: #fdd835;
$color-accent: #fe2a5a;
$red: #ff0000;

$hero-accent: #2196f3;
$table-border: #5c5d63;
$table-bg: #151821;
$table-head: #1b1d29;

$font-main: 'Roboto', sans-serif;
$transition-fast: 0.2s ease-in-out;
$transition-slow: 0.4s ease;


$container-width: calc(1170px + 30px);
$container-padding: 15px;


$border-radius: 10px;

$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);